<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta  th:lang="en" charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <title>Add Payment</title>
</head>
<body>
<br/>
<p><a th:href="@{/}">Home</a> | <a th:href="@{/payments/list}">Payments List</a></p>
<br/>
<form id="signup-form" method="POST" th:action="@{/payments/save}" th:object="${payment}">
    <h3>Add a Credit Payment</h3>

    <!--Card Number-->
    <div>
        <label class="required" for="cardNumber">Credit Card Number</label>
        <input type="text" th:name="cardNumber" th:value = "*{cardNumber}" id="cardNumber"/>
        <span class="validationError" th:if="${#fields.hasErrors('cardNumber')}" th:errors="*{cardNumber}">
		        Card Number Error</span>
    </div>
    <br/>

    <!--Expiration Date-->
    <div>
        <label class="required" for="expirationDate">Expiration Date</label>
        <input type="expirationDate" th:name="expirationDate" th:value = "*{expirationDate}" id="expirationDate"/>
        <span class="validationError" th:if="${#fields.hasErrors('expirationDate')}" th:errors="*{expirationDate}">
		        Expiration Date Error</span>
    </div>
    <br/>

    <!--CVV Number-->
    <div>
        <label class="required" for="cvvNumber">CVV</label>
        <input type="text" th:name="cvvNumber" th:value = "*{cvvNumber}" id="cvvNumber"/>
        <span class="validationError" th:if="${#fields.hasErrors('cvvNumber')}" th:errors="*{cvvNumber}">
		        CVV Number Error</span>
    </div>
    <br/>

    <!--Add Button-->
    <input type="submit" value="Add" class="btn btn-primary w-50 mt-3"/>
    <input type="reset" value="Reset" class="btn btn-primary w-50 mt-3"/>
    <button type="button"><a href="/">Cancel</a></button>

</form>
</body>
</html>
